table.table th, table.table td {
   
    vertical-align: middle;
}
td:last-child {
    width: 140px;
   text-align:center;
}
table.table.table-bordered.table-hover {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.25rem;
    overflow: hidden;
}
.table > tbody {
    
    background-color: white;
}