/*Header*/
.content-header {
    padding: 15px 0rem;
}
/*table*/
table.table th, table.table td {
   
    vertical-align: middle;
}
/*td:last-child {
    width: 150px;
    text-align: center;
}*/
table.table.table-bordered.text-left.table-hover > tbody > tr > td:last-child {
    width: 150px;
    text-align: center;
}
table.table.table-bordered.table-hover {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.25rem;
    overflow: hidden;
}
.table th, .table td {
    padding: 0.2em 1em 0.1em 1em;
    font-size: 0.95rem;
    vertical-align: middle;
    height: 2.5rem;
}
.table > tbody {
    
    background-color: white;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom: 1px solid #dee2e6;
}
/*.btn-event {
    margin:0 !important;
}*/
    .progress-bar {
    font-size: 20px;
}
.btn-event {
    padding: 6px 10px;
    margin: 0 2px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
thead.table-dark.text-white.text-center {
    background-color: #343A40;
    color:grey !important;
}
.btn-green {
    background-color: #26a69a;
}

    .btn-green:hover {
        background-color: #218838;
    }

.btn-yellow {
    background-color: #c49f47;
    color: #212529;
}

    .btn-yellow:hover {
        background-color: #e0a800;
    }

.btn-red {
    background-color: #cb5a5e;
}

    .btn-red:hover {
        background-color: #c82333;
    }
/*  Dashboard*/
.fc-daygrid-day-top > a {
    color: white;
}
a.fc-col-header-cell-cushion {
    color: white;
}