USE [master]
GO
/****** Object:  Database [WorkTrackingSystem]    Script Date: 3/4/2025 10:37:08 PM ******/
CREATE DATABASE [WorkTrackingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkTrackingSystem', FILENAME = N'E:\WorkTrackingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkTrackingSystem_log', FILENAME = N'E:\WorkTrackingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkTrackingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkTrackingSystem]
GO
/****** Object:  Table [dbo].[ANALYSIS]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANALYSIS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [bigint] NULL,
	[Total] [float] NULL,
	[Ontime] [int] NULL,
	[Late] [int] NULL,
	[Overdue] [int] NULL,
	[Processing] [int] NULL,
	[Time] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BASELINEASSESSMENT]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASELINEASSESSMENT](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [bigint] NULL,
	[VolumeAssessment] [float] NULL,
	[ProgressAssessment] [float] NULL,
	[QualityAssessment] [float] NULL,
	[SummaryOfReviews] [float] NULL,
	[Time] [datetime] NULL,
	[Evaluate] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Id_Parent] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Department_Id] [bigint] NULL,
	[Position_Id] [bigint] NULL,
	[Code] [nvarchar](50) NOT NULL,
	[First_Name] [nvarchar](255) NULL,
	[Last_Name] [nvarchar](255) NULL,
	[Gender] [nvarchar](10) NULL,
	[Birthday] [date] NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NULL,
	[Hire_Date] [date] NULL,
	[Address] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [bigint] NULL,
	[Category_Id] [bigint] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[Deadline3] [date] NULL,
	[CompletionDate] [date] NULL,
	[Status] [tinyint] NULL,
	[VolumeAssessment] [float] NULL,
	[ProgressAssessment] [float] NULL,
	[QualityAssessment] [float] NULL,
	[SummaryOfReviews] [float] NULL,
	[progress] [float] NULL,
	[Time] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEMSW]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEMSW](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 3/4/2025 10:37:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Password] [varchar](max) NULL,
	[Employee_Id] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANALYSIS] ON 

INSERT [dbo].[ANALYSIS] ([Id], [Employee_Id], [Total], [Ontime], [Late], [Overdue], [Processing], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 2, 80, 60, 10, 10, 15, CAST(N'2025-02-20T10:10:05.903' AS DateTime), 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
INSERT [dbo].[ANALYSIS] ([Id], [Employee_Id], [Total], [Ontime], [Late], [Overdue], [Processing], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 3, 70, 50, 10, 10, 20, CAST(N'2025-02-20T10:10:05.903' AS DateTime), 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
INSERT [dbo].[ANALYSIS] ([Id], [Employee_Id], [Total], [Ontime], [Late], [Overdue], [Processing], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (5, 1, 6, 2, 0, 1, 3, CAST(N'2025-02-01T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-02-24T18:31:26.047' AS DateTime), CAST(N'2025-02-28T20:16:17.570' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ANALYSIS] OFF
GO
SET IDENTITY_INSERT [dbo].[BASELINEASSESSMENT] ON 

INSERT [dbo].[BASELINEASSESSMENT] ([Id], [Employee_Id], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Time], [Evaluate], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 2, 75, 70, 80, 75, CAST(N'2025-02-20T10:10:05.900' AS DateTime), 1, 0, 1, CAST(N'2025-02-20T10:10:05.900' AS DateTime), CAST(N'2025-02-20T10:10:05.900' AS DateTime), NULL, NULL)
INSERT [dbo].[BASELINEASSESSMENT] ([Id], [Employee_Id], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Time], [Evaluate], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 3, 65, 60, 70, 65, CAST(N'2025-02-20T10:10:05.900' AS DateTime), 0, 0, 1, CAST(N'2025-02-20T10:10:05.900' AS DateTime), CAST(N'2025-02-20T10:10:05.900' AS DateTime), NULL, NULL)
INSERT [dbo].[BASELINEASSESSMENT] ([Id], [Employee_Id], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Time], [Evaluate], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (19, 1, 2, 2, 2, 2, CAST(N'2025-02-01T00:00:00.000' AS DateTime), 0, 0, 1, CAST(N'2025-02-24T18:37:13.517' AS DateTime), CAST(N'2025-02-28T20:16:17.553' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BASELINEASSESSMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([Id], [Code], [Name], [Description], [Id_Parent], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'CAT001', N'CNTT', N'Công nghệ thông tin', 0, 0, 1, CAST(N'2025-02-20T10:10:05.893' AS DateTime), CAST(N'2025-02-20T10:10:05.893' AS DateTime), NULL, NULL)
INSERT [dbo].[CATEGORY] ([Id], [Code], [Name], [Description], [Id_Parent], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'CAT002', N'Tài chính', N'Quản lý tài chính', 0, 0, 1, CAST(N'2025-02-20T10:10:05.893' AS DateTime), CAST(N'2025-02-20T10:10:05.893' AS DateTime), NULL, NULL)
INSERT [dbo].[CATEGORY] ([Id], [Code], [Name], [Description], [Id_Parent], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'CAT003', N'Nhân sự', N'Quản lý nhân sự', 0, 0, 1, CAST(N'2025-02-20T10:10:05.893' AS DateTime), CAST(N'2025-02-20T10:10:05.893' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([Id], [Code], [Name], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'HR', N'Phòng Nhân sự', N'Chịu trách nhiệm quản lý nhân sự', 0, 1, CAST(N'2025-02-20T10:10:05.870' AS DateTime), CAST(N'2025-02-20T10:10:05.870' AS DateTime), NULL, NULL)
INSERT [dbo].[DEPARTMENT] ([Id], [Code], [Name], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'IT', N'Phòng Công nghệ thông tin', N'Phát triển và bảo trì hệ thống', 0, 1, CAST(N'2025-02-20T10:10:05.870' AS DateTime), CAST(N'2025-02-20T10:10:05.870' AS DateTime), NULL, NULL)
INSERT [dbo].[DEPARTMENT] ([Id], [Code], [Name], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'FIN', N'Phòng Tài chính', N'Quản lý tài chính và kế toán', 0, 1, CAST(N'2025-02-20T10:10:05.870' AS DateTime), CAST(N'2025-02-20T10:10:05.870' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([Id], [Department_Id], [Position_Id], [Code], [First_Name], [Last_Name], [Gender], [Birthday], [Phone], [Email], [Hire_Date], [Address], [Avatar], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 1, 1, N'E001', N'Admin', N'Admin', N'Nam', CAST(N'1990-05-20' AS Date), N'0901234567', N'a.nguyen@example.com', CAST(N'2020-03-15' AS Date), N'Hà Nội', NULL, 0, 1, CAST(N'2025-02-20T10:10:05.890' AS DateTime), CAST(N'2025-02-20T10:10:05.890' AS DateTime), NULL, NULL)
INSERT [dbo].[EMPLOYEE] ([Id], [Department_Id], [Position_Id], [Code], [First_Name], [Last_Name], [Gender], [Birthday], [Phone], [Email], [Hire_Date], [Address], [Avatar], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 2, 3, N'E002', N'Trần', N'Thị B', N'Nữ', CAST(N'1985-07-10' AS Date), N'0912345678', N'b.tran@example.com', CAST(N'2018-06-01' AS Date), N'TP. Hồ Chí Minh', NULL, 0, 1, CAST(N'2025-02-20T10:10:05.890' AS DateTime), CAST(N'2025-02-20T10:10:05.890' AS DateTime), NULL, NULL)
INSERT [dbo].[EMPLOYEE] ([Id], [Department_Id], [Position_Id], [Code], [First_Name], [Last_Name], [Gender], [Birthday], [Phone], [Email], [Hire_Date], [Address], [Avatar], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 2, 5, N'E003', N'Nguyễn ', N'Văn C', N'Nam', CAST(N'1980-12-05' AS Date), N'0987654321', N'c.le@example.com', CAST(N'2015-09-20' AS Date), N'Đà Nẵng', NULL, 0, 1, CAST(N'2025-02-20T10:10:05.890' AS DateTime), CAST(N'2025-02-20T10:10:05.890' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[JOB] ON 

INSERT [dbo].[JOB] ([Id], [Employee_Id], [Category_Id], [Name], [Description], [Deadline1], [Deadline2], [Deadline3], [CompletionDate], [Status], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [progress], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 1, 1, N'Phát triển phần mềm', N'Xây dựng hệ thống quản lý', NULL, NULL, NULL, NULL, 1, 2, 2, 2, 2, NULL, CAST(N'2025-02-20T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[JOB] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITION] ON 

INSERT [dbo].[POSITION] ([Id], [Name], [Description], [Status], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'Admin', N'Quản lý toàn hệ thống', 1, 0, 1, CAST(N'2025-02-20T10:10:05.887' AS DateTime), CAST(N'2025-02-20T10:10:05.887' AS DateTime), NULL, NULL)
INSERT [dbo].[POSITION] ([Id], [Name], [Description], [Status], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'Giám đốc	', N'Người điều hành công ty', 1, 0, 1, CAST(N'2025-02-20T10:10:05.887' AS DateTime), CAST(N'2025-02-20T10:10:05.887' AS DateTime), NULL, NULL)
INSERT [dbo].[POSITION] ([Id], [Name], [Description], [Status], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'Quản lý', N'Quản lý phòng ban', 0, 0, 1, CAST(N'2025-02-20T10:10:05.887' AS DateTime), CAST(N'2025-02-20T10:10:05.887' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[POSITION] OFF
GO
SET IDENTITY_INSERT [dbo].[SYSTEMSW] ON 

INSERT [dbo].[SYSTEMSW] ([Id], [Name], [Value], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'MaxLoginAttempts', N'5', N'Số lần đăng nhập sai tối đa', 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
INSERT [dbo].[SYSTEMSW] ([Id], [Name], [Value], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'SessionTimeout', N'30', N'Thời gian hết hạn phiên làm việc', 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
INSERT [dbo].[SYSTEMSW] ([Id], [Name], [Value], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'AllowGuestAccess', N'1', N'Cho phép khách truy cập', 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SYSTEMSW] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([Id], [UserName], [Password], [Employee_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'admin', N'74bbe0e185d65998d4fecc8517dd98d0bed47036b603779d470c0eaafb04c196', 1, 0, 1, CAST(N'2025-02-20T10:10:05.907' AS DateTime), CAST(N'2025-03-02T15:15:05.547' AS DateTime), NULL, N'1')
INSERT [dbo].[USERS] ([Id], [UserName], [Password], [Employee_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'manageProject', N'74bbe0e185d65998d4fecc8517dd98d0bed47036b603779d470c0eaafb04c196', 2, 0, 1, CAST(N'2025-02-20T10:10:05.907' AS DateTime), CAST(N'2025-02-20T10:10:05.907' AS DateTime), NULL, NULL)
INSERT [dbo].[USERS] ([Id], [UserName], [Password], [Employee_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'manageHr', N'74bbe0e185d65998d4fecc8517dd98d0bed47036b603779d470c0eaafb04c196', 3, 0, 1, CAST(N'2025-02-20T10:10:05.907' AS DateTime), CAST(N'2025-02-20T10:10:05.907' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CATEGORY__A25C5AA7B63DCD15]    Script Date: 3/4/2025 10:37:08 PM ******/
ALTER TABLE [dbo].[CATEGORY] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DEPARTME__A25C5AA7A1F66F19]    Script Date: 3/4/2025 10:37:08 PM ******/
ALTER TABLE [dbo].[DEPARTMENT] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLOYEE__A25C5AA70A77C552]    Script Date: 3/4/2025 10:37:08 PM ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__C9F28456D2D9F21C]    Script Date: 3/4/2025 10:37:08 PM ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Ontime]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Late]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Overdue]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Processing]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [VolumeAssessment]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [ProgressAssessment]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [QualityAssessment]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [SummaryOfReviews]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [Id_Parent]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (NULL) FOR [Deadline1]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (NULL) FOR [Deadline2]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (NULL) FOR [Deadline3]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (NULL) FOR [CompletionDate]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT ((0)) FOR [VolumeAssessment]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT ((0)) FOR [ProgressAssessment]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT ((0)) FOR [QualityAssessment]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT ((0)) FOR [SummaryOfReviews]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[JOB] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[ANALYSIS]  WITH CHECK ADD FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT]  WITH CHECK ADD FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([Department_Id])
REFERENCES [dbo].[DEPARTMENT] ([Id])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([Position_Id])
REFERENCES [dbo].[POSITION] ([Id])
GO
ALTER TABLE [dbo].[JOB]  WITH CHECK ADD FOREIGN KEY([Category_Id])
REFERENCES [dbo].[CATEGORY] ([Id])
GO
ALTER TABLE [dbo].[JOB]  WITH CHECK ADD FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
USE [master]
GO
