USE [WorkTrackingSystem]
GO
/****** Object:  Table [dbo].[ANALYSIS]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANALYSIS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [bigint] NULL,
	[Total] [float] NULL,
	[Ontime] [int] NULL,
	[Late] [int] NULL,
	[Overdue] [int] NULL,
	[Processing] [int] NULL,
	[Time] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BASELINEASSESSMENT]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASELINEASSESSMENT](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [bigint] NULL,
	[VolumeAssessment] [float] NULL,
	[ProgressAssessment] [float] NULL,
	[QualityAssessment] [float] NULL,
	[SummaryOfReviews] [float] NULL,
	[Time] [datetime] NULL,
	[Evaluate] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Id_Parent] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Department_Id] [bigint] NULL,
	[Position_Id] [bigint] NULL,
	[Code] [nvarchar](50) NOT NULL,
	[First_Name] [nvarchar](255) NULL,
	[Last_Name] [nvarchar](255) NULL,
	[Gender] [nvarchar](10) NULL,
	[Birthday] [date] NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NULL,
	[Hire_Date] [date] NULL,
	[Address] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Category_Id] [bigint] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[Deadline3] [date] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
	[Recurring] [bit] NULL,
	[Recurrence_Type] [tinyint] NULL,
	[Recurrence_Interval] [tinyint] NULL,
	[Recurrence_End_Date] [date] NULL,
 CONSTRAINT [PK__JOB__3214EC078EDA6055] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBMAPEMPLOYEE]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBMAPEMPLOYEE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [bigint] NULL,
	[Job_Id] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
 CONSTRAINT [PK__JOBMAPEM__3214EC07922EFC05] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBREPEAT]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBREPEAT](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Job_Id] [bigint] NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[Deadline3] [date] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
 CONSTRAINT [PK_JobRepeat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORE]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobMapEmployee_Id] [bigint] NULL,
	[CompletionDate] [date] NULL,
	[Status] [tinyint] NULL,
	[VolumeAssessment] [float] NULL,
	[ProgressAssessment] [float] NULL,
	[QualityAssessment] [float] NULL,
	[SummaryOfReviews] [float] NULL,
	[Progress] [float] NULL,
	[Time] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
 CONSTRAINT [PK__SCORE__3214EC071B698CBB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCOREEMPLOYEE]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCOREEMPLOYEE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobMapEmployee_Id] [bigint] NULL,
	[CompletionDate] [date] NULL,
	[Status] [tinyint] NULL,
	[VolumeAssessment] [float] NULL,
	[ProgressAssessment] [float] NULL,
	[QualityAssessment] [float] NULL,
	[SummaryOfReviews] [float] NULL,
	[Progress] [float] NULL,
	[Time] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
 CONSTRAINT [PK_CoreEmployee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEMSW]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEMSW](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/9/2025 9:05:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Password] [varchar](max) NULL,
	[Employee_Id] [bigint] NULL,
	[IsDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Create_By] [nvarchar](100) NULL,
	[Update_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANALYSIS] ON 

INSERT [dbo].[ANALYSIS] ([Id], [Employee_Id], [Total], [Ontime], [Late], [Overdue], [Processing], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 4, 1, 0, 1, 0, 0, CAST(N'2025-03-01T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-03-11T21:27:30.283' AS DateTime), CAST(N'2025-05-08T15:36:13.083' AS DateTime), NULL, NULL)
INSERT [dbo].[ANALYSIS] ([Id], [Employee_Id], [Total], [Ontime], [Late], [Overdue], [Processing], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 5, 24, 24, 0, 0, 0, CAST(N'2025-03-01T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-03-11T21:27:30.413' AS DateTime), CAST(N'2025-03-17T13:28:49.693' AS DateTime), NULL, NULL)
INSERT [dbo].[ANALYSIS] ([Id], [Employee_Id], [Total], [Ontime], [Late], [Overdue], [Processing], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 5, 0, 0, 0, 0, 0, CAST(N'2024-12-01T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-03-17T13:28:49.510' AS DateTime), CAST(N'2025-03-17T13:28:49.510' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ANALYSIS] OFF
GO
SET IDENTITY_INSERT [dbo].[BASELINEASSESSMENT] ON 

INSERT [dbo].[BASELINEASSESSMENT] ([Id], [Employee_Id], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Time], [Evaluate], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 4, 1, 0, 0, 0.6, CAST(N'2025-03-01T00:00:00.000' AS DateTime), 0, 0, 1, CAST(N'2025-03-11T21:29:33.257' AS DateTime), CAST(N'2025-05-08T15:36:13.067' AS DateTime), NULL, NULL)
INSERT [dbo].[BASELINEASSESSMENT] ([Id], [Employee_Id], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Time], [Evaluate], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 5, 28, 66, 64, 42.699999570846558, CAST(N'2025-03-01T00:00:00.000' AS DateTime), 0, 0, 1, CAST(N'2025-03-17T11:03:16.937' AS DateTime), CAST(N'2025-03-17T13:28:49.667' AS DateTime), NULL, NULL)
INSERT [dbo].[BASELINEASSESSMENT] ([Id], [Employee_Id], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Time], [Evaluate], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 5, 1, 3, 2.5, 1.6749999523162842, CAST(N'2025-04-01T00:00:00.000' AS DateTime), 0, 0, 1, CAST(N'2025-03-17T13:28:49.703' AS DateTime), CAST(N'2025-03-17T13:28:49.703' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BASELINEASSESSMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([Id], [Code], [Name], [Description], [Id_Parent], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'TTNCTT', N'TTNCTT', N'TTNCTT', 0, 0, 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'')
INSERT [dbo].[CATEGORY] ([Id], [Code], [Name], [Description], [Id_Parent], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'CT', N'Cải tạo', N'Cải tạo', 0, 0, 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'')
INSERT [dbo].[CATEGORY] ([Id], [Code], [Name], [Description], [Id_Parent], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'KY', N'Khoa Y', N'Khoa Y', 0, 0, 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([Id], [Code], [Name], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'HR', N'Phòng Nhân sự', N'Chịu trách nhiệm quản lý nhân sự', 0, 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'')
INSERT [dbo].[DEPARTMENT] ([Id], [Code], [Name], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'IT', N'Phòng Công nghệ thông tin', N'Phát triển và bảo trì hệ thống', 0, 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'')
INSERT [dbo].[DEPARTMENT] ([Id], [Code], [Name], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'TC-KT', N'Phòng Tài chính', N'Quản lý tài chính và kế toán', 0, 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([Id], [Department_Id], [Position_Id], [Code], [First_Name], [Last_Name], [Gender], [Birthday], [Phone], [Email], [Hire_Date], [Address], [Avatar], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 1, 1, N'E001', N'Admin', N'Admin', N'Male', CAST(N'1990-05-20' AS Date), N'0901234567', N'a.nguyen@example.com', CAST(N'2020-03-15' AS Date), N'Hà Nội', N'/images/employees/5dec162d-162c-4ff5-81fa-b314fb720f9a.jpg', 0, 1, CAST(N'2025-02-20T10:10:05.890' AS DateTime), CAST(N'2025-05-08T14:55:58.727' AS DateTime), NULL, N'admin')
INSERT [dbo].[EMPLOYEE] ([Id], [Department_Id], [Position_Id], [Code], [First_Name], [Last_Name], [Gender], [Birthday], [Phone], [Email], [Hire_Date], [Address], [Avatar], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 2, 3, N'E002', N'Trần', N'Manage', N'Male', CAST(N'1985-07-10' AS Date), N'0912345678', N'b.tran@example.com', CAST(N'2018-06-01' AS Date), N'TP. Hồ Chí Minh', N'/images/employees/1d9ee624-444b-4bae-99d7-737b76886abc.jpg', 0, 1, CAST(N'2025-02-20T10:10:05.890' AS DateTime), CAST(N'2025-05-08T13:58:44.280' AS DateTime), NULL, N'admin')
INSERT [dbo].[EMPLOYEE] ([Id], [Department_Id], [Position_Id], [Code], [First_Name], [Last_Name], [Gender], [Birthday], [Phone], [Email], [Hire_Date], [Address], [Avatar], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 1, 5, N'E003', N'Nguyễn ', N'HR', N'Male', CAST(N'1980-12-05' AS Date), N'0987654321', N'c.le@example.com', CAST(N'2015-09-20' AS Date), N'Đà Nẵng', N'/images/employees/15d9c40d-383a-4931-badf-7932d41d1e5e.jpg', 0, 1, CAST(N'2025-02-20T10:10:05.890' AS DateTime), CAST(N'2025-05-08T13:58:57.180' AS DateTime), NULL, N'admin')
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[JOB] ON 

INSERT [dbo].[JOB] ([Id], [Category_Id], [Name], [Description], [Deadline1], [Deadline2], [Deadline3], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By], [Recurring], [Recurrence_Type], [Recurrence_Interval], [Recurrence_End_Date]) VALUES (1, 5, N'Dự thảo báo cáo kết quả lựa chọn nhà thầu cho ĐHQG-HCM', N'Dự thảo báo cáo kết quả lựa chọn nhà thầu cho ĐHQG-HCM', CAST(N'2025-05-25' AS Date), NULL, NULL, 0, 1, CAST(N'2025-03-18T18:43:57.177' AS DateTime), CAST(N'2025-03-18T18:43:57.177' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JOB] ([Id], [Category_Id], [Name], [Description], [Deadline1], [Deadline2], [Deadline3], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By], [Recurring], [Recurrence_Type], [Recurrence_Interval], [Recurrence_End_Date]) VALUES (3, 14, N'Rà soát hồ sơ thanh toán gói TV ĐL MTXH', N'Rà soát hồ sơ thanh toán gói TV ĐL MTXH', CAST(N'2025-03-07' AS Date), NULL, NULL, 0, 1, CAST(N'2025-03-19T09:18:16.510' AS DateTime), CAST(N'2025-03-19T09:18:16.510' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[JOB] OFF
GO
SET IDENTITY_INSERT [dbo].[JOBMAPEMPLOYEE] ON 

INSERT [dbo].[JOBMAPEMPLOYEE] ([Id], [Employee_Id], [Job_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 5, 1, 0, 1, CAST(N'2025-03-18T18:51:40.127' AS DateTime), CAST(N'2025-03-18T18:51:40.127' AS DateTime), NULL, NULL)
INSERT [dbo].[JOBMAPEMPLOYEE] ([Id], [Employee_Id], [Job_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 5, 2, 0, 1, CAST(N'2025-03-19T09:20:05.953' AS DateTime), CAST(N'2025-03-19T09:20:05.953' AS DateTime), NULL, NULL)
INSERT [dbo].[JOBMAPEMPLOYEE] ([Id], [Employee_Id], [Job_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 5, 3, 0, 1, CAST(N'2025-03-19T09:20:06.013' AS DateTime), CAST(N'2025-03-19T09:20:06.013' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[JOBMAPEMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITION] ON 

INSERT [dbo].[POSITION] ([Id], [Name], [Description], [Status], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'Admin', N'Quản lý toàn hệ thống', 1, 0, 1, CAST(N'2025-02-20T10:10:05.887' AS DateTime), CAST(N'2025-02-20T10:10:05.887' AS DateTime), NULL, NULL)
INSERT [dbo].[POSITION] ([Id], [Name], [Description], [Status], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'Giám đốc	', N'Người điều hành công ty', 1, 0, 1, CAST(N'2025-02-20T10:10:05.887' AS DateTime), CAST(N'2025-02-20T10:10:05.887' AS DateTime), NULL, NULL)
INSERT [dbo].[POSITION] ([Id], [Name], [Description], [Status], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'Quản lý', N'Quản lý phòng ban', 0, 0, 1, CAST(N'2025-02-20T10:10:05.887' AS DateTime), CAST(N'2025-02-20T10:10:05.887' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[POSITION] OFF
GO
SET IDENTITY_INSERT [dbo].[SCORE] ON 

INSERT [dbo].[SCORE] ([Id], [JobMapEmployee_Id], [CompletionDate], [Status], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Progress], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 1, NULL, 4, 1, 0, 3, 1.35, 50, CAST(N'2025-03-18T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-05-25T00:00:00.000' AS DateTime), CAST(N'2025-03-18T18:54:04.793' AS DateTime), NULL, NULL)
INSERT [dbo].[SCORE] ([Id], [JobMapEmployee_Id], [CompletionDate], [Status], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Progress], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 2, CAST(N'2025-03-19' AS Date), 3, 1, 3, 3, 1.8, 100, CAST(N'2025-03-12T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-03-07T00:00:00.000' AS DateTime), CAST(N'2025-03-19T09:23:52.083' AS DateTime), NULL, NULL)
INSERT [dbo].[SCORE] ([Id], [JobMapEmployee_Id], [CompletionDate], [Status], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Progress], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 3, NULL, 2, 0, 0, 0, 0, 75, CAST(N'2025-03-13T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-03-07T00:00:00.000' AS DateTime), CAST(N'2025-03-19T09:23:52.150' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SCORE] OFF
GO
SET IDENTITY_INSERT [dbo].[SCOREEMPLOYEE] ON 

INSERT [dbo].[SCOREEMPLOYEE] ([Id], [JobMapEmployee_Id], [CompletionDate], [Status], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Progress], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, 1, NULL, 4, 1, 0, 3, 1.35, 50, CAST(N'2025-03-18T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-05-25T00:00:00.000' AS DateTime), CAST(N'2025-03-18T18:54:04.793' AS DateTime), NULL, NULL)
INSERT [dbo].[SCOREEMPLOYEE] ([Id], [JobMapEmployee_Id], [CompletionDate], [Status], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Progress], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, 2, CAST(N'2025-03-19' AS Date), 3, 1, 3, 3, 1.8, 100, CAST(N'2025-03-12T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-03-07T00:00:00.000' AS DateTime), CAST(N'2025-03-19T09:23:52.083' AS DateTime), NULL, NULL)
INSERT [dbo].[SCOREEMPLOYEE] ([Id], [JobMapEmployee_Id], [CompletionDate], [Status], [VolumeAssessment], [ProgressAssessment], [QualityAssessment], [SummaryOfReviews], [Progress], [Time], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, 3, NULL, 2, 0, 0, 0, 0, 75, CAST(N'2025-03-13T00:00:00.000' AS DateTime), 0, 1, CAST(N'2025-03-07T00:00:00.000' AS DateTime), CAST(N'2025-03-19T09:23:52.150' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SCOREEMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[SYSTEMSW] ON 

INSERT [dbo].[SYSTEMSW] ([Id], [Name], [Value], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'MaxLoginAttempts', N'5', N'Số lần đăng nhập sai tối đa', 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
INSERT [dbo].[SYSTEMSW] ([Id], [Name], [Value], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'SessionTimeout', N'30', N'Thời gian hết hạn phiên làm việc', 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
INSERT [dbo].[SYSTEMSW] ([Id], [Name], [Value], [Description], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'AllowGuestAccess', N'1', N'Cho phép khách truy cập', 0, 1, CAST(N'2025-02-20T10:10:05.903' AS DateTime), CAST(N'2025-02-20T10:10:05.903' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SYSTEMSW] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([Id], [UserName], [Password], [Employee_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (1, N'admin', N'74bbe0e185d65998d4fecc8517dd98d0bed47036b603779d470c0eaafb04c196', 1, 0, 1, CAST(N'2025-02-20T10:10:05.907' AS DateTime), CAST(N'2025-03-02T15:15:05.547' AS DateTime), NULL, N'1')
INSERT [dbo].[USERS] ([Id], [UserName], [Password], [Employee_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (2, N'manageProject', N'74bbe0e185d65998d4fecc8517dd98d0bed47036b603779d470c0eaafb04c196', 2, 0, 1, CAST(N'2025-02-20T10:10:05.907' AS DateTime), CAST(N'2025-02-20T10:10:05.907' AS DateTime), NULL, NULL)
INSERT [dbo].[USERS] ([Id], [UserName], [Password], [Employee_Id], [IsDelete], [IsActive], [Create_Date], [Update_Date], [Create_By], [Update_By]) VALUES (3, N'manageHr', N'74bbe0e185d65998d4fecc8517dd98d0bed47036b603779d470c0eaafb04c196', 3, 0, 1, CAST(N'2025-02-20T10:10:05.907' AS DateTime), CAST(N'2025-02-20T10:10:05.907' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CATEGORY__A25C5AA796B4ACA2]    Script Date: 5/9/2025 9:05:23 AM ******/
ALTER TABLE [dbo].[CATEGORY] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DEPARTME__A25C5AA75155D337]    Script Date: 5/9/2025 9:05:23 AM ******/
ALTER TABLE [dbo].[DEPARTMENT] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLOYEE__A25C5AA7E04A5FEC]    Script Date: 5/9/2025 9:05:23 AM ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__C9F28456BE8BAAD6]    Script Date: 5/9/2025 9:05:23 AM ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Ontime]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Late]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Overdue]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [Processing]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[ANALYSIS] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [VolumeAssessment]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [ProgressAssessment]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [QualityAssessment]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [SummaryOfReviews]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [Id_Parent]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[DEPARTMENT] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__Deadline1__25518C17]  DEFAULT (NULL) FOR [Deadline1]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__Deadline2__2645B050]  DEFAULT (NULL) FOR [Deadline2]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__Deadline3__2739D489]  DEFAULT (NULL) FOR [Deadline3]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__IsDelete__282DF8C2]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__IsActive__29221CFB]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__Create_Date__2A164134]  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__Update_Date__2B0A656D]  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__Create_By__2BFE89A6]  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF__JOB__Update_By__2CF2ADDF]  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF_JOB_Recurring]  DEFAULT ((0)) FOR [Recurring]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF_JOB_Recurrence_Type]  DEFAULT ((0)) FOR [Recurrence_Type]
GO
ALTER TABLE [dbo].[JOB] ADD  CONSTRAINT [DF_JOB_Recurrence_Interval]  DEFAULT ((1)) FOR [Recurrence_Interval]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] ADD  CONSTRAINT [DF__JOBMAPEMP__IsDel__31B762FC]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] ADD  CONSTRAINT [DF__JOBMAPEMP__IsAct__32AB8735]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] ADD  CONSTRAINT [DF__JOBMAPEMP__Creat__339FAB6E]  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] ADD  CONSTRAINT [DF__JOBMAPEMP__Updat__3493CFA7]  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] ADD  CONSTRAINT [DF__JOBMAPEMP__Creat__3587F3E0]  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] ADD  CONSTRAINT [DF__JOBMAPEMP__Updat__367C1819]  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__Completio__3A4CA8FD]  DEFAULT (NULL) FOR [CompletionDate]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__VolumeAss__3B40CD36]  DEFAULT ((0)) FOR [VolumeAssessment]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__ProgressA__3C34F16F]  DEFAULT ((0)) FOR [ProgressAssessment]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__QualityAs__3D2915A8]  DEFAULT ((0)) FOR [QualityAssessment]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__SummaryOf__3E1D39E1]  DEFAULT ((0)) FOR [SummaryOfReviews]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF_SCORE_Progress]  DEFAULT ((0)) FOR [Progress]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__IsDelete__3F115E1A]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__IsActive__40058253]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__Create_Da__40F9A68C]  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__Update_Da__41EDCAC5]  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__Create_By__42E1EEFE]  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[SCORE] ADD  CONSTRAINT [DF__SCORE__Update_By__43D61337]  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[SYSTEMSW] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [Update_Date]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[ANALYSIS]  WITH CHECK ADD FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[BASELINEASSESSMENT]  WITH CHECK ADD FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([Department_Id])
REFERENCES [dbo].[DEPARTMENT] ([Id])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([Position_Id])
REFERENCES [dbo].[POSITION] ([Id])
GO
ALTER TABLE [dbo].[JOB]  WITH CHECK ADD  CONSTRAINT [FK__JOB__Category_Id__245D67DE] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[CATEGORY] ([Id])
GO
ALTER TABLE [dbo].[JOB] CHECK CONSTRAINT [FK__JOB__Category_Id__245D67DE]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__JOBMAPEMP__Emplo__2FCF1A8A] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] CHECK CONSTRAINT [FK__JOBMAPEMP__Emplo__2FCF1A8A]
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__JOBMAPEMP__Job_I__30C33EC3] FOREIGN KEY([Job_Id])
REFERENCES [dbo].[JOB] ([Id])
GO
ALTER TABLE [dbo].[JOBMAPEMPLOYEE] CHECK CONSTRAINT [FK__JOBMAPEMP__Job_I__30C33EC3]
GO
ALTER TABLE [dbo].[JOBREPEAT]  WITH CHECK ADD  CONSTRAINT [FK_JOBREPEAT_JOB] FOREIGN KEY([Job_Id])
REFERENCES [dbo].[JOB] ([Id])
GO
ALTER TABLE [dbo].[JOBREPEAT] CHECK CONSTRAINT [FK_JOBREPEAT_JOB]
GO
ALTER TABLE [dbo].[SCORE]  WITH CHECK ADD  CONSTRAINT [FK__SCORE__JobMapEmp__395884C4] FOREIGN KEY([JobMapEmployee_Id])
REFERENCES [dbo].[JOBMAPEMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[SCORE] CHECK CONSTRAINT [FK__SCORE__JobMapEmp__395884C4]
GO
ALTER TABLE [dbo].[SCOREEMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_SCOREEMPLOYEE_JOBMAPEMPLOYEE] FOREIGN KEY([JobMapEmployee_Id])
REFERENCES [dbo].[JOBMAPEMPLOYEE] ([Id])
GO
ALTER TABLE [dbo].[SCOREEMPLOYEE] CHECK CONSTRAINT [FK_SCOREEMPLOYEE_JOBMAPEMPLOYEE]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeScoreSummary]    Script Date: 5/9/2025 9:05:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetEmployeeScoreSummary]
    @DepartmentId INT,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @Quarter INT = NULL,
    @QuarterYear INT = NULL,
    @Month INT = NULL,
    @MonthYear INT = NULL,
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.First_Name + ' ' + E.Last_Name AS EmployeeName,
        COUNT(CASE WHEN S.Status = 1 THEN 1 END) AS OnTimeCount,
        COUNT(CASE WHEN S.Status = 2 THEN 1 END) AS LateCount,
        COUNT(CASE WHEN S.Status = 3 THEN 1 END) AS OverdueCount,
        COUNT(CASE WHEN S.Status = 4 THEN 1 END) AS ProcessingCount,
        COUNT(CASE WHEN S.Status IN (0, 1, 2, 3, 4, 5) THEN 1 END) AS TotalJobs
    FROM EMPLOYEE E
    INNER JOIN JOBMAPEMPLOYEE JME ON E.Id = JME.Employee_Id
    INNER JOIN SCORE S ON JME.Id = S.JobMapEmployee_Id
    WHERE 
        E.Department_Id = @DepartmentId
        AND E.IsDelete = 0
        AND S.IsDelete = 0
        AND (
            (@FromDate IS NULL OR S.Create_Date >= @FromDate)
            AND (@ToDate IS NULL OR S.Create_Date <= @ToDate)
        )
        AND (
            (@Quarter IS NULL OR @QuarterYear IS NULL)
            OR (
                DATEPART(QUARTER, S.Create_Date) = @Quarter
                AND YEAR(S.Create_Date) = @QuarterYear
            )
        )
        AND (
            (@Month IS NULL OR @MonthYear IS NULL)
            OR (
                MONTH(S.Create_Date) = @Month
                AND YEAR(S.Create_Date) = @MonthYear
            )
        )
        AND (
            @Year IS NULL OR YEAR(S.Create_Date) = @Year
        )
    GROUP BY E.First_Name, E.Last_Name
    ORDER BY EmployeeName
END
GO
/****** Object:  Trigger [dbo].[trg_insert]    Script Date: 5/9/2025 9:05:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_insert] on [dbo].[SCOREEMPLOYEE] 
FOR INSERT
AS
BEGIN
	insert into  [SCORE] ( JobMapEmployee_Id, CompletionDate, Status, VolumeAssessment, ProgressAssessment, QualityAssessment, SummaryOfReviews, Progress, Time, IsDelete, IsActive, Create_Date, Update_Date, Create_By, Update_By)
	seLECT JobMapEmployee_Id, CompletionDate, Status, VolumeAssessment, ProgressAssessment, QualityAssessment, SummaryOfReviews, Progress, Time, IsDelete, IsActive, Create_Date, Update_Date, Create_By, Update_By 
	from inserted
END
GO
ALTER TABLE [dbo].[SCOREEMPLOYEE] ENABLE TRIGGER [trg_insert]
GO
/****** Object:  Trigger [dbo].[trg_update]    Script Date: 5/9/2025 9:05:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_update] on [dbo].[SCOREEMPLOYEE] 
FOR UPDATE
AS
BEGIN
	UPDATE [SCORE] 
	SET 
			JobMapEmployee_Id = inserted.JobMapEmployee_Id,
			 CompletionDate = inserted.CompletionDate,
			 Status = inserted.Status,
			 VolumeAssessment = inserted.VolumeAssessment,
			 ProgressAssessment = inserted.ProgressAssessment,
			 QualityAssessment = inserted.QualityAssessment,
			 SummaryOfReviews = inserted.SummaryOfReviews,
			 Progress = inserted.Progress,
			 Time = inserted.Time,
			 IsDelete = inserted.IsDelete,
			 IsActive = inserted.IsActive,
			 Create_Date = inserted.Create_Date,
			 Update_Date = inserted.Update_Date,
			 Create_By = inserted.Create_By,
			 Update_By = inserted.Update_By
		FROM [SCORE] S 
		JOIN inserted ON inserted.Id = S.Id
		WHERE S.id  = inserted.id
END

GO
ALTER TABLE [dbo].[SCOREEMPLOYEE] ENABLE TRIGGER [trg_update]
GO
