@model WorkTrackingSystem.Models.Score

@{
    ViewData["Title"] = "Edit";
}

<div class="modal-content">
    <div class="modal-header">
        <h2 class="text-center">Sửa công việc</h2>
        <button type="button" class="close" onclick="closeDetailSection()">×</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="JobMapEmployeeId" />

                    <!-- Tên công việc -->
                    <div class="form-group">
                        <label class="control-label">Tên công việc</label>
                        <input asp-for="JobMapEmployee.Job.Name" class="form-control" />
                        <span asp-validation-for="JobMapEmployee.Job.Name" class="text-danger"></span>
                    </div>

                    <!-- Danh mục -->
                    <div class="form-group">
                        <label class="control-label">Danh mục</label>
                    <select asp-for="JobMapEmployee.Job.CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                        <option value="">Chọn danh mục</option>
                    </select>
                    <span asp-validation-for="JobMapEmployee.Job.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time" class="control-label">Ngày bắt đầu</label>
                        <input asp-for="CreateDate" class="form-control" type="date" name="Time" value="@Model.Time?.ToString("yyyy-MM-dd")" />

                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <!-- Ngày tạo -->
                    @if (Model.JobMapEmployee?.EmployeeId != null)
                    {
                        <div class="form-group">
                            <label asp-for="CreateDate" class="control-label">Hạn chót</label>
                            <input asp-for="CreateDate" class="form-control" type="date" value="@Model.CreateDate?.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group" hidden>
                        <label asp-for="CompletionDate" class="control-label">Ngày hoàn thành</label>
                        <input asp-for="CompletionDate" class="form-control" type="date" />
                        <span asp-validation-for="CompletionDate" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="Status" class="control-label">Trạng thái</label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="VolumeAssessment" class="control-label">Đánh giá khối lượng</label>
                        <input asp-for="VolumeAssessment" class="form-control" />
                        <span asp-validation-for="VolumeAssessment" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="ProgressAssessment" class="control-label">Đánh giá tiến độ</label>
                        <input asp-for="ProgressAssessment" class="form-control" />
                        <span asp-validation-for="ProgressAssessment" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="QualityAssessment" class="control-label">Đánh giá chất lượng</label>
                        <input asp-for="QualityAssessment" class="form-control" />
                        <span asp-validation-for="QualityAssessment" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="SummaryOfReviews" class="control-label">Tổng hợp đánh giá</label>
                        <input asp-for="SummaryOfReviews" class="form-control" />
                        <span asp-validation-for="SummaryOfReviews" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="Progress" class="control-label">Tiến độ</label>
                        <input asp-for="Progress" class="form-control" />
                        <span asp-validation-for="Progress" class="text-danger"></span>
                    </div>

                   
                    <div class="form-group d-flex justify-content-between">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<script>
    function closeDetailSection() {
            $("#list-section").removeClass("col-md-8").addClass("col-md-12");
            $("#detail-section").addClass("d-none");
        }
</script>